# Google App Engine generated folder
appengine-generated/
app.yaml

# Visual Studio Code
.settings/
.vscode/

# Composer (PHP)
composer.phar
vendor/

# Local settings
config.php
test.php
test.txt

# Logs
logs/